<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>final exam?</title>
		<link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	      }

	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
    
	    </style>
	</head>

	<body class="text-center h-100" style="margin-bottom: 30px">
		<header>
			{% include 'include/_howto.html' %}
		</header>
		<div class="container">
			<!--this is body where usser expects answer -->	
			{% block body%} {% endblock %}
		</div>
		{% for message in get_flashed_messages() %}
    		<div class="flash">{{ message }}</div>
  		{% endfor %}
		
		<!--this is footer -->	
		{% include 'include/_credits.html' %}

		 <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		 
	</body>
</html>