#pageHeading {
    text-align: center;
}

#navImage {
    width : 150px;
    margin-left: 10px;
}

#header {
    height: 100px;
}

body{
    background-color: white;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    
    font-family: sans-serif; 
}

main {
    width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 60px;

    margin-top: 35px;

    display: flex;
    flex-direction: column;
}

#selections{
    padding-left: 10px;

    justify-content: center;
    
    display: grid;
    column-gap: 20px;
    row-gap: 15px;
    grid-template-columns: 40% 45% 20%;
    grid-template-rows: 15% 30% 25%;
    grid-template-areas: 
    " daysLabel timeLabel ampmLabel"
    "  days time ampm "
    " . . submitButt";
}

.days{
    grid-area: days;
    justify-content: center;
}

.submitButt {
    grid-area: submitButt;
}

.time {
    grid-area: time;
}

.ampm {
    grid-area: ampm;
}

.days option{
    font-size: 15px;
}

#selectionContainer{
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#response{
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

    text-align: center;
}

#disclaimer{
    height: 150px;
    text-align: center;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(9, 191, 236);
}

#switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
#switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
 
footer{
	text-align: center;
    font-size: 18px;
    margin-top: 30px;
} 
 
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    
    font-size: 18px;  
   
    margin-top: 10px;
    width: 100%;
    justify-self: center;
}
  
.navLinks {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
} 

input:invalid {
    border-color:rgba(231, 167, 83, 0.815);
}

input:valid {
    border-color: #FFD700;
}
