
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" style="padding-top: 15px">
  <a class="navbar-brand" href="/">Resources</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="https://www.csueastbay.edu/students/academics-and-studying/finals/fall.html">school website <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/learn">verify the time</a>
	      </li>
	    </ul>
	 </div>
</nav>