{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <table>
      <tr>
        <th>Class Day(s)</th>
        <th>Start Time</th>
        <th>AM/PM</th>
      </tr>
      <tr>
        <td><select name="days">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select></td>
        <td><input name="start" id="start" required></td>
        <td><select name="ampm">
           <option value="pm">pm</option>
           <option value="am">am</option>
         </select></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="display"></td>
        <td></td>
      </tr>
    </table> 
  </form>
{% endblock %}
