{% extends "base.html" %}

{% block title %}
{{ about }}
{% endblock %}

{% block main %}
<div id = "aboutBox"> 
    <div>
        The inspiration for this website came from the convoluted time tables provided by CSUEB.edu 
    </div>
    <div>
        Since we don't have the patience, we wrote an algorithm that searches the tables way faster than we could
    </div> 
    <div>
        Since we want to share the priviledge of knowing how to code, we made this website to allow everyone to use our algorithm
    </div>
</div>
{% endblock %}