<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes" >
  <link href="{{ url_for('static', filename='mobile.css') }}" rel="stylesheet">
  <title>CSUEB Finals</title>
</head>

<body>
  <nav> 
    <div class = "navLinks">
      <a href="/">
        <img src="{{ url_for('static', filename='undraw_exams_g4ow.svg') }}" alt ="Final Exams" id = 'navImage' >
      </a>
    </div> 
    <div class = "navLinks" >
      <a href="https://www.csueastbay.edu/students/academics-and-studying/finals/index.html" target="_blank">school website</a>
    </div>
    <div class = "navLinks">
      <a href="/about">about us</a>
    </div>
  </nav>


  <main>
    <div id = header>
      <p id = pageHeading>{% block title %} {% endblock %}</p>
    </div>

    {% block main %} {% endblock %}
  </main>
  
  <footer id = "footer">
    &copy; project by
    <a href="https://github.com/Fs4remi"> Fatemeh Saremi</a> 
    and 
    <a href = "https://github.com/ScegfOd"> Jonathan Combs </a> 🧐
  </footer>
</body>
</html>
