<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="{{ url_for('static', filename='club.css') }}" rel="stylesheet">
  <title>CSUEB Finals</title>
</head>

<body>
  <nav> 
    <div class = "navLinks">
      <img src="{{ url_for('static', filename='undraw_exams_g4ow.svg') }}" alt ="Final Exams" id = 'navImage'>
    </div> 
    <div class = "navLinks">
      <a href="https://www.w3schools.com/html/html_links.asp">verify the time</a>
    </div>
    <div class = "navLinks" >
      <a href="https://www.csueastbay.edu/students/academics-and-studying/finals/index.html" target="_blank">school website</a>
    </div>
  </nav>


  <main>
    <div id = header>
      <h2 id = pageHeading>{% block title %} {% endblock %}</h2>
    </div>

    {% block main %} {% endblock %}
  </main>
  
  <footer id = "footer">&copy; Fatemeh and Jon Project 🧐</footer>
</body>
</html>
