{% extends "base.html" %}

{% block title %}
{{ index }}
{% endblock %}

{% block main %}
<div id = "selectionContainer">
    <form action = "/" method = "POST" id = selections>
        <label class = "daysLabel">class days ✍</label>
        <select name="day" class = "days">
            <option name="M">M</option>
            <option name="MW">MW</option>
            <option name="MF">MF</option>
            <option name="MWF">MWF</option>
            <option name="MF">MF</option>
            <option name="Tu">Tu</option>
            <option name="Th">Th</option>
            <option name="TuTh">TuTh</option>
            <option name="W">W</option>
            <option name="WF">WF</option>
            <option name="F">F</option>
            <option name="FS">FS</option>
            </select>

            <label class = "timeLabel" >class start time 🕚</label>
            <input type = "text" class = "time" name = "time" maxlength="5" pattern="([0-9]|1[0-2]):[0-5][0-9]"required>

            <label class = "ampmLabel">am  pm</label>
            <label class="ampm" id = "switch">
                <input type="checkbox" name="ampm">
            <span class="slider round"></span>
            </label>

            <script src = "../static/app.js"></script>
            <button class="submitButt" onclick="openResponse()">check</button>

            <script src = "../static/app.js"></script>
    </form>
</div>

<div id = "response">
	<p>
    	{{ info1 }}
    </p>
    <p>
    	{{ info2 }}
    </p>
    <p>
    	{{ info3 }}
    </p>
</div>

<div id = "disclaimer">
    <p>
        Check with your teacher or sylabous because teachers have the right to change their final exam time
    </p>
</div>
{% endblock %}
