{% extends "base.html" %}

{% block title %}
{{ index }}
{% endblock %}

{% block main %}
<div id = "selectionContainer">
    <form action = "/" method = "POST" id = selections>
        <label class = "daysLabel">class days ✍</label>
        <select name="day" class = "days">
            <option name="M">M</option>
            <option name="MW">M W</option>
            <option name="MF">M F</option>
            <option name="MWF">M W F</option>
            <option name="MF">M F</option>
            <option name="Tu">Tu</option>
            <option name="Th">Th</option>
            <option name="TuTh">Tu Th</option>
            <option name="W">W</option>
            <option name="WF">W F</option>
            <option name="F">F</option>
            <option name="FS">F S</option>
            </select>

            <label class = "timeLabel" >class start time 🕚</label>
            <input type = "text" class = "time" name = "time" maxlength="5" pattern="([0-9]|1[0-2]):[0-5][0-9]"required>

            <label class = "ampmLabel">am  pm</label>
            <label class="ampm" id = "switch">
                <input type="checkbox" name="ampm">
            <span class="slider round"></span>
            </label>

            <button class="submitButt">check</button>
    </form>
</div>
<div id = "response">
    {{ info }}
</div>

{% endblock %}